<div class="row">
    <div class="col">
        <div class="form-group">
            <h1>Hi {{ currentUser.name }}! </h1>
            <a href [routerLink]="['/new_question']">Add a Poll</a>
            <a href (click)="logout()">Logout</a>
            <p>Current Polls</p>

            <table [ngStyle]="{'border': '1px solid black'}">
                <tr>
                    <th>Name</th>
                    <th>Survey Question</th>
                    <th>Date Posted</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let question of questions">
                    <td>{{ question.user.name }}</td>
                    <td><a href [routerLink]="['/surveypoll', question._id]">{{ question.question }}</a></td>
                    <td>{{ question.createdAt | date:'longDate' }}</td>
                    <td>
                        <form *ngIf="question.user._id == currentUser._id " (submit)="delete(question._id)">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <router-outlet> </router-outlet>